body {
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    width: 100%;
    height: 100vh;
}

.view3d {
    flex-grow: 1;
    display: flex;
    position: relative;
}

.canvas {
    width: 100%;
    height: 100%;
}

.params {
    width: 350px;
    padding: 20px;
    background: #eee;
}

.updating-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255, 0.8);
  font-size: 24px;
}
